ORACLE_PASSWORD=SuaSenhaDBA
ORACLE_APP_USER=NUSP
ORACLE_APP_PASSWORD=SuaSenhaApp
SPRING_DATASOURCE_USERNAME=NUSP
SPRING_DATASOURCE_PASSWORD=SuaSenhaApp
CORS_ALLOWED_ORIGINS=https://seu-dominio.com,http://localhost:4200
